<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewTvShowManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A25F0C811CB39347005E5159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25F0C9A1CB39348005E5159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25F0CA51CB39348005E5159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
